<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="170"
	android:versionName="2.106.11"
	android:compileSdkVersion="33"
	android:compileSdkVersionCodename="13"
	package="net.apex_designs.payback2"
	platformBuildVersionCode="33"
	platformBuildVersionName="13"
	requiredSplitTypes="base__abi,base__density"
	splitTypes=""
	>
	<uses-sdk
		android:minSdkVersion="23"
		android:targetSdkVersion="33"
		>
	</uses-sdk>
	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true"
		>
	</uses-feature>
	<supports-gl-texture
		android:name="GL_OES_compressed_ETC1_RGB8_texture"

		android:required="true"
		>
	</supports-gl-texture>
	<uses-permission
		android:name="android.permission.VIBRATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.INTERNET"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_NETWORK_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_WIFI_STATE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_EXTERNAL_STORAGE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.READ_MEDIA_AUDIO"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.vending.BILLING"
		>
	</uses-permission>
	<uses-permission
		android:name="com.android.vending.CHECK_LICENSE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.WAKE_LOCK"
		>
	</uses-permission>
	<uses-permission
		android:name="com.google.android.gms.permission.AD_ID"
		>
	</uses-permission>
	<queries
		>
		<intent
			>
			<action
				android:name="com.android.vending.billing.InAppBillingService.BIND"
				>
			</action>
		</intent>
		<intent
			>
			<action
				android:name="android.intent.action.VIEW"
				>
			</action>
			<category
				android:name="android.intent.category.BROWSABLE"
				>
			</category>
			<data
				android:scheme="https"
				>
			</data>
		</intent>
		<intent
			>
			<action
				android:name="android.support.customtabs.action.CustomTabsService"
				>
			</action>
		</intent>
		<intent
			>
			<action
				android:name="com.applovin.am.intent.action.APPHUB_SERVICE"
				>
			</action>
		</intent>
		<package
			android:name="com.android.vending"
			>
		</package>
		<package
			android:name="com.amazon.venezia"
			>
		</package>
		<package
			android:name="com.sec.android.app.samsungapps"
			>
		</package>
		<package
			android:name="com.huawei.appmarket"
			>
		</package>
	</queries>
	<uses-permission
		android:name="android.permission.ACCESS_ADSERVICES_AD_ID"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.ACCESS_ADSERVICES_TOPICS"
		>
	</uses-permission>
	<uses-permission
		android:name="com.applovin.array.apphub.permission.BIND_APPHUB_SERVICE"
		>
	</uses-permission>
	<uses-permission
		android:name="android.permission.FOREGROUND_SERVICE"
		>
	</uses-permission>
	<permission
		android:name="net.apex_designs.payback2.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
		android:protectionLevel="0x00000002"
		>
	</permission>
	<uses-permission
		android:name="net.apex_designs.payback2.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
		>
	</uses-permission>
	<application
		android:theme="@7F130028"
		android:label="@7F120078"
		android:icon="@7F0F0000"
		android:name="com.pairip.application.Application"
		android:allowBackup="true"
		android:hardwareAccelerated="true"
		android:usesCleartextTraffic="true"
		android:appComponentFactory="androidx.core.app.CoreComponentFactory"
		>
		<meta-data
			android:name="com.google.android.gms.games.APP_ID"
			android:value="@7F120077"
			>
		</meta-data>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@7F0B0006"
			>
		</meta-data>
		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="ca-app-pub-3936847361950191~4276002866"
			>
		</meta-data>
		<meta-data
			android:name="applovin.sdk.key"
			android:value="mS0sOpTex3vQl0SPv-mhMVGrxVN6iTES0EJP2t2zwyNfzr4tqqTBKq0FJOL0yZTypoLreOpZLBEJ0IAr7i0RX1"
			>
		</meta-data>
		<meta-data
			android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
			android:value="true"
			>
		</meta-data>
		<meta-data
			android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
			android:value="true"
			>
		</meta-data>
		<activity
			android:label="Payback²"
			android:name="net.apex_designs.payback2.PaybackActivity"
			android:exported="true"
			android:launchMode="2"
			android:screenOrientation="6"
			android:configChanges="0x000004A0"
			>
			<meta-data
				android:name="android.app.lib_name"
				android:value="payback2"
				>
			</meta-data>
			<intent-filter
				>
				<action
					android:name="android.intent.action.MAIN"
					>
				</action>
				<category
					android:name="android.intent.category.LAUNCHER"
					>
				</category>
			</intent-filter>
			<intent-filter
				>
				<data
					android:scheme="payback2"
					>
				</data>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
			</intent-filter>
			<intent-filter
				android:autoVerify="true"
				>
				<action
					android:name="android.intent.action.VIEW"
					>
				</action>
				<category
					android:name="android.intent.category.DEFAULT"
					>
				</category>
				<category
					android:name="android.intent.category.BROWSABLE"
					>
				</category>
				<data
					android:scheme="http"
					android:host="www.apex-designs.net"
					android:path="/pb2_invite.php"
					>
				</data>
			</intent-filter>
		</activity>
		<activity
			android:name="net.apex_designs.payback2.VideoPlayerActivity"
			android:screenOrientation="6"
			android:configChanges="0x000004A0"
			>
		</activity>
		<activity
			android:name="net.apex_designs.payback2.WebViewActivity"
			android:screenOrientation="6"
			android:configChanges="0x000004A0"
			>
		</activity>
		<receiver
			android:name="net.apex_designs.payback2.ReminderService"
			>
		</receiver>
		<activity
			android:theme="@0103000A"
			android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
			android:exported="false"
			android:configChanges="0x000004A0"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:theme="@0103000A"
			android:name="com.adcolony.sdk.AdColonyAdViewActivity"
			android:configChanges="0x000004A0"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:theme="@0103000F"
			android:name="com.google.android.gms.ads.AdActivity"
			android:exported="false"
			android:configChanges="0x00000FB0"
			>
		</activity>
		<activity
			android:theme="@01030011"
			android:name="com.chartboost.sdk.view.CBImpressionActivity"
			android:excludeFromRecents="true"
			android:configChanges="0x000004A0"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:theme="@01030010"
			android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
			android:exported="false"
			android:excludeFromRecents="true"
			>
		</activity>
		<service
			android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
			android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
			android:exported="true"
			android:visibleToInstantApps="true"
			>
		</service>
		<meta-data
			android:name="com.google.android.play.billingclient.version"
			android:value="6.1.0"
			>
		</meta-data>
		<activity
			android:theme="@01030010"
			android:name="com.android.billingclient.api.ProxyBillingActivity"
			android:exported="false"
			android:configChanges="0x000005B0"
			>
		</activity>
		<provider
			android:name="com.google.android.gms.ads.MobileAdsInitProvider"
			android:exported="false"
			android:authorities="net.apex_designs.payback2.mobileadsinitprovider"
			android:initOrder="100"
			>
		</provider>
		<service
			android:name="com.google.android.gms.ads.AdService"
			android:enabled="true"
			android:exported="false"
			>
		</service>
		<activity
			android:name="com.google.android.gms.ads.OutOfContextTestingActivity"
			android:exported="false"
			android:configChanges="0x00000FB0"
			>
		</activity>
		<activity
			android:theme="@01030010"
			android:name="com.google.android.gms.ads.NotificationHandlerActivity"
			android:exported="false"
			android:taskAffinity=""
			android:excludeFromRecents="true"
			android:launchMode="2"
			>
		</activity>
		<property
			android:name="android.adservices.AD_SERVICES_CONFIG"
			android:resource="@7F150001"
			>
		</property>
		<provider
			android:name="com.applovin.sdk.AppLovinInitProvider"
			android:exported="false"
			android:authorities="net.apex_designs.payback2.applovininitprovider"
			android:initOrder="101"
			>
		</provider>
		<activity
			android:name="com.applovin.adview.AppLovinFullscreenActivity"
			android:exported="false"
			android:launchMode="1"
			android:screenOrientation="3"
			android:configChanges="0x40000FB4"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:theme="@01030007"
			android:name="com.applovin.adview.AppLovinFullscreenThemedActivity"
			android:exported="false"
			android:launchMode="1"
			android:screenOrientation="3"
			android:configChanges="0x40000FB4"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:name="com.applovin.sdk.AppLovinWebViewActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@01030007"
			android:name="com.applovin.mediation.hybridAds.MaxHybridMRecAdActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@01030007"
			android:name="com.applovin.mediation.hybridAds.MaxHybridNativeAdActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerDetailActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerMultiAdActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerAdUnitsListActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerAdUnitWaterfallsListActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerAdUnitDetailActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerCmpNetworksListActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerTcfConsentStatusesListActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerTcfInfoListActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerTcfStringActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerTestLiveNetworkActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerTestModeNetworkActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F13018D"
			android:name="com.applovin.mediation.MaxDebuggerWaterfallKeywordsActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F130188"
			android:name="com.applovin.creative.MaxCreativeDebuggerActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<activity
			android:theme="@7F130188"
			android:name="com.applovin.creative.MaxCreativeDebuggerDisplayedAdActivity"
			android:configChanges="0x40000FB4"
			>
		</activity>
		<service
			android:name="com.applovin.impl.adview.activity.FullscreenAdService"
			android:exported="false"
			android:stopWithTask="false"
			>
		</service>
		<activity
			android:theme="@01030007"
			android:name="com.unity3d.services.ads.adunit.AdUnitActivity"
			android:exported="false"
			android:configChanges="0x40000FFF"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:theme="@01030011"
			android:name="com.unity3d.services.ads.adunit.AdUnitTransparentActivity"
			android:exported="false"
			android:configChanges="0x40000FFF"
			android:hardwareAccelerated="true"
			>
		</activity>
		<activity
			android:theme="@01030011"
			android:name="com.unity3d.services.ads.adunit.AdUnitTransparentSoftwareActivity"
			android:exported="false"
			android:configChanges="0x40000FFF"
			android:hardwareAccelerated="false"
			>
		</activity>
		<activity
			android:theme="@01030007"
			android:name="com.unity3d.services.ads.adunit.AdUnitSoftwareActivity"
			android:exported="false"
			android:configChanges="0x40000FFF"
			android:hardwareAccelerated="false"
			>
		</activity>
		<activity
			android:theme="@01030007"
			android:name="com.unity3d.ads.adplayer.FullScreenWebViewDisplay"
			android:exported="false"
			android:configChanges="0x40000FFF"
			android:hardwareAccelerated="true"
			>
		</activity>
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:exported="false"
			android:authorities="net.apex_designs.payback2.androidx-startup"
			>
			<meta-data
				android:name="androidx.lifecycle.ProcessLifecycleInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="com.unity3d.services.core.configuration.AdsSdkInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.emoji2.text.EmojiCompatInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.work.WorkManagerInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
			<meta-data
				android:name="androidx.profileinstaller.ProfileInstallerInitializer"
				android:value="androidx.startup"
				>
			</meta-data>
		</provider>
		<activity
			android:theme="@01030010"
			android:name="com.google.android.gms.common.api.GoogleApiActivity"
			android:exported="false"
			>
		</activity>
		<activity
			android:name="com.vungle.ads.internal.ui.VungleActivity"
			android:launchMode="1"
			android:configChanges="0x00000FA0"
			android:hardwareAccelerated="true"
			>
		</activity>
		<provider
			android:name="com.vungle.ads.internal.util.VungleProvider"
			android:exported="false"
			android:authorities="net.apex_designs.payback2.vungle-provider"
			>
		</provider>
		<uses-library
			android:name="android.ext.adservices"
			android:required="false"
			>
		</uses-library>
		<service
			android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
			android:enabled="@7F050002"
			android:exported="false"
			android:directBootAware="false"
			>
		</service>
		<service
			android:name="androidx.work.impl.background.systemjob.SystemJobService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:enabled="@7F050004"
			android:exported="true"
			android:directBootAware="false"
			>
		</service>
		<service
			android:name="androidx.work.impl.foreground.SystemForegroundService"
			android:enabled="@7F050003"
			android:exported="false"
			android:directBootAware="false"
			>
		</service>
		<receiver
			android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
			android:enabled="true"
			android:exported="false"
			android:directBootAware="false"
			>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.ACTION_POWER_CONNECTED"
					>
				</action>
				<action
					android:name="android.intent.action.ACTION_POWER_DISCONNECTED"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.BATTERY_OKAY"
					>
				</action>
				<action
					android:name="android.intent.action.BATTERY_LOW"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.DEVICE_STORAGE_LOW"
					>
				</action>
				<action
					android:name="android.intent.action.DEVICE_STORAGE_OK"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.net.conn.CONNECTIVITY_CHANGE"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
			android:enabled="false"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"
					>
				</action>
				<action
					android:name="android.intent.action.TIME_SET"
					>
				</action>
				<action
					android:name="android.intent.action.TIMEZONE_CHANGED"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
			android:enabled="@7F050002"
			android:exported="false"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="androidx.work.impl.background.systemalarm.UpdateProxies"
					>
				</action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
			android:permission="android.permission.DUMP"
			android:enabled="true"
			android:exported="true"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"
					>
				</action>
			</intent-filter>
		</receiver>
		<service
			android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
			android:exported="false"
			>
			<meta-data
				android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
				android:value="cct"
				>
			</meta-data>
		</service>
		<service
			android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
			android:permission="android.permission.BIND_JOB_SERVICE"
			android:exported="false"
			>
		</service>
		<receiver
			android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
			android:exported="false"
			>
		</receiver>
		<receiver
			android:name="androidx.profileinstaller.ProfileInstallReceiver"
			android:permission="android.permission.DUMP"
			android:enabled="true"
			android:exported="true"
			android:directBootAware="false"
			>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.INSTALL_PROFILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.SKIP_FILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.SAVE_PROFILE"
					>
				</action>
			</intent-filter>
			<intent-filter
				>
				<action
					android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"
					>
				</action>
			</intent-filter>
		</receiver>
		<service
			android:name="androidx.room.MultiInstanceInvalidationService"
			android:exported="false"
			android:directBootAware="true"
			>
		</service>
		<meta-data
			android:name="com.android.dynamic.apk.fused.modules"
			android:value="base"
			>
		</meta-data>
	</application>
</manifest>
